/*
    Row Styles
*/

/*row top styles*/

.flex-row--tc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

/*row center styles*/
.flex-row--cc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*
    Column Styles
*/

/*column top styles*/

.flex-col--tl {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex-col--tc {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/*column center styles*/

.flex-col--cl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.flex-col--cc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
    Reverse Row Styles
*/

/*row top styles*/

/*Extra Styles*/

.flex--space-between {
	justify-content: space-between;
}

.flex--space-around {
	justify-content: space-around;
}

.flex--wrap {
	flex-wrap: wrap;
}
